---
import { Picture } from "astro:assets";
import Button from "../Button.astro";

const { title, description, imageAlt, image, link } = Astro.props;
---

<article class="flex flex-col md:flex-row border-b border-secondary py-8">
  <div class="absolute w-screen left-0"></div>
  <Picture
    pictureAttributes={{
      style: "backgroundColor: #f3f4f6;",
    }}
    class={"rounded-lg"}
    width={960 / 1.5}
    height={480 / 1.5}
    formats={["webp", "avif"]}
    alt={imageAlt}
    src={image}
  />
  <div
    class="grid grid-cols-1 grid-rows-4 pt-3 md:px-8 text-balance w-full md:w-1/2"
  >
    <p class="font-bold text-2xl text-text limit-w">{title}</p>
    <p class="row-span-2 place-content-start">{description}</p>

    <Button link={link} text="Read More" />
  </div>
</article>
